<form method="post" action="/memos/<%= @memo.id %>" >
<input type="hidden" name="_method" value="patch">
<div>
  <input class="title-form margin-bottom" type="text" name="title" value=<%= html_escape(@memo.title) %>>
</div>

<div>
  <textarea class="body-form margin-bottom" type="text-area" name="body"><%= html_escape(@memo.body) %></textarea>
</div>

<div class="submit">
  <input type="submit" value="変更">
</div>
</form>
