<form method="post" action="/memos">
  <div>
    <input class="title-form margin-bottom" type="text" name="title">
  </div>

  <div>
    <textarea class="body-form margin-bottom" type="text" name="body"></textarea>
  </div>

  <div class="submit">
    <input type="submit">
  </div>
</form>
